    <footer>
    <p class="text-center"><a href="https://github.com/Trigex/Textchan">Textchan <%= config.version %></a></p>
    <p class="text-center"><a href="https://www.paypal.me/Trigex">Donate to Textchan!</a></p>
    <p class="text-center">(c) <a href="http://trigex.net">Trigex</a>, 2017</p>
    </footer>
    </div>
    <script src="/js/textchan.js"></script>
    </body>
</html>
