    <div id="footer">
        <center><p>Textchan <%= config.version %></p></center>
        <center><p>(c) <a href="http://trigex.net">Trigex</a>, 2017</p></center>
    </div>
    <script src="/js/textchan.js"></script>
    </body>
</html>
