<% include partials/header %>
    <div class="row">
    <% boards.forEach(function(board){ %>
        <div class="board col-lg-4 col-sm-6">
            <div class="caption">
                <a href="/<%= board.code %>"<h3>/<%= board.code %>/ - <%= board.name %></h3></a>
                <p><%= board.description %></p>
            </div>
        </div>
    <% }); %>
    </div>
<% include partials/footer %>
