<% include partials/header %>
<h2>Staff Login</h2>
<form action="/staff" method="POST">
    <input type="text" name="password" placeholder="Password">
    <button>Log In</button>
</form>
<% include partials/footer %>
